@keyframes iconDown {
  from {
    opacity: 0;
    top: 90%;
  }
  to {
    opacity: 1;
    top: 93%;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1250px;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
  overflow: hidden;
}
.header__bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/header1.jpg");
  background-position: center;
  background-size: cover;
}
.header .nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  transform: translateX(100%);
  transition: transform 0.3s;
  z-index: 110;
}
.header .nav-mobile--active {
  transform: translateX(10%);
}
.header .nav-mobile__links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.header .nav-mobile__link {
  margin: 3rem 5rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.header .nav-mobile hr {
  width: 90%;
  opacity: 0.2;
}
.header__logo {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 15rem;
  transform: translate(-50%, -50%);
  z-index: 111;
}
.header .hamburger {
  position: absolute;
  margin-top: 2px;
  top: 5%;
  right: 0;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.header .hamburger-inner, .header .hamburger-inner::before, .header .hamburger-inner::after {
  background-color: #fff;
  z-index: 1000;
}
.header__text {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.header__heading {
  font-size: 5rem;
  margin-bottom: 10px;
}
.header__p {
  font-size: 1.5rem;
  font-weight: 300;
}
.header__icon {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 5rem;
  transform: translate(-50%, -50%);
  animation: iconDown 3s infinite;
}

.nav-desktop {
  display: none;
}

.main .model-mobile {
  padding: 4rem 0rem 0rem;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}
.main .model-mobile__img {
  background-image: url("../img/starship_makieta_phone.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
  transform: scale(1.2);
}
.main .model-mobile__text {
  margin: 2rem;
}
.main .model-mobile__heading {
  margin-top: 10rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.main .model-mobile__p {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  width: 100%;
}
.main .model-mobile__box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0.5rem 0;
  padding: 2rem;
  width: 100%;
  color: #fff;
  border-bottom: 1px solid #919191;
  font-size: 1.4rem;
}
.main .model-mobile__box-heading {
  grid-column: 1/8;
  font-weight: bold;
  text-transform: uppercase;
}
.main .model-mobile__box-parameters {
  grid-column: 9/-1;
  font-weight: bold;
  text-align: end;
}
.main .model-mobile__box-parameters--gray {
  color: #919191;
}
.main .model-desktop {
  display: none;
}
.main .video {
  width: 100%;
  height: 100vh;
}
.main .video-bg {
  position: relative;
  background-image: url("../img/header2.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.main .video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 65px;
  transition: width 0.3s;
}
.main .video-icon:hover {
  width: 60px;
}
.main .informations {
  display: none;
}
.main .information-phone-first {
  background-color: #000;
  color: #fff;
}
.main .information-phone-first__img {
  width: 100%;
  height: 60vh;
}
.main .information-phone-first__heading {
  padding: 3rem 2rem 0rem;
  text-transform: uppercase;
  font-size: 3.5rem;
}
.main .information-phone-first__p {
  padding: 1rem 2rem 0rem;
  line-height: 2.5rem;
  font-weight: 300;
}
.main .information-phone-first__btn {
  margin: 3rem 2rem;
  padding: 1.5rem 3.5rem;
  text-transform: uppercase;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.main .information-phone-first__btn:hover {
  background-color: #fff;
  color: #000;
}
.main .starbase {
  position: relative;
  background-image: url("../img/starbase2.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.main .starbase__heading {
  padding: 0 2rem;
  position: absolute;
  top: 60%;
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}
.main .starbase__p {
  padding: 0 2rem;
  position: absolute;
  top: 68%;
  width: 100%;
  line-height: 2.5rem;
  font-weight: 300;
  color: #fff;
}
.main .starbase__btn {
  margin: 0 2rem;
  padding: 1.4rem 3.5rem;
  position: absolute;
  top: 88%;
  text-transform: uppercase;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.main .starbase__btn:hover {
  background-color: #fff;
  color: #000;
}

.footer-first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  width: 100%;
  height: 62vh;
}
.footer-first__btn {
  padding: 2rem 2.8rem;
  text-transform: uppercase;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.footer-first__btn:hover {
  background-color: #fff;
  color: #000;
}
.footer-first__line {
  margin: 2rem 0rem;
  width: 1px;
  height: 15rem;
  background-color: #fff;
}
.footer-first__p {
  padding: 2rem;
  color: #919191;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;
}
.footer-first a {
  text-decoration: none;
}
.footer-first__span {
  color: #fff;
  transition: color 0.3s;
}
.footer-first__span:hover {
  color: #919191;
}

.footer-second {
  padding: 3rem;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #000;
}
.footer-second p {
  padding: 3rem;
  width: 100%;
  display: inline-block;
  color: #919191;
}
.footer-second a {
  margin: 1rem;
  width: 100%;
  align-items: center;
  line-height: 2rem;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}
.footer-second a:hover {
  color: #919191;
}

@media (min-width: 523px) {
  .main .starbase__btn {
    top: 85%;
  }
}
@media (min-width: 603px) {
  .main .starbase__btn {
    top: 80%;
  }
}
@media (min-width: 850px) {
  .main .information-phone-first__img {
    height: 70vh;
  }
}
@media (min-width: 830px) {
  .main .model-mobile__img {
    margin: 0 auto;
    background-image: url("../img/starship_makieta_phone.jpg");
    background-position: center;
    background-size: cover;
    height: 70vh;
    transform: scale(1.2);
    width: 70%;
  }
}
@media (min-width: 992px) {
  .header {
    position: relative;
  }
  .header .nav-mobile {
    display: none;
  }
  .header .nav-desktop {
    display: block;
  }
  .header__bg {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/header1.jpg");
    background-position: center;
    background-size: cover;
  }
  .header .hamburger {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .header .nav-desktop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    z-index: 1;
  }
  .header .nav-desktop__logo {
    position: absolute;
    grid-column: 3/4;
    width: 24rem;
    bottom: 0;
  }
  .header .nav-desktop__links {
    position: absolute;
    bottom: 0;
    grid-column: 8/12;
  }
  .header .nav-desktop__link {
    position: relative;
    margin: 0 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .header .nav-desktop__link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1.2px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
  }
  .header .nav-desktop__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .header .nav-desktop .hamburger {
    position: absolute;
    top: 3em;
    left: 1em;
    transform: translateY(-50%);
    z-index: 100;
  }
  .header .nav-desktop .hamburger-inner, .header .nav-desktop .hamburger-inner::before, .header .nav-desktop .hamburger-inner::after {
    background-color: #fff;
    z-index: 100;
  }
  .header__text {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    top: 42%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .header__heading {
    font-size: 10rem;
    margin-bottom: 10px;
  }
  .header__p {
    font-size: 1.5rem;
  }
  .header__icon {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 5rem;
    transform: translate(-50%, -50%);
    animation: iconDown 3s infinite;
  }
  .nav-desktop {
    display: none;
  }
  .main .model {
    display: block;
    width: 100%;
    height: 111vh;
    background-image: url("../img/starship_makieta.jpg");
    background-position: center;
    background-size: cover;
  }
  .main .model__text {
    padding: 2rem;
    color: #fff;
  }
  .main .model__heading {
    padding-top: 5rem;
    font-size: 4.8rem;
    text-transform: uppercase;
  }
  .main .model__p {
    padding-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 300;
    width: 40%;
    line-height: 2.5rem;
  }
  .main .model__box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0.5rem 0;
    padding: 2rem;
    width: 45%;
    color: #fff;
    border-bottom: 1px solid #919191;
    font-size: 1.4rem;
  }
  .main .model__box-heading {
    grid-column: 1/8;
    font-weight: bold;
    text-transform: uppercase;
  }
  .main .model__box-parameters {
    grid-column: 9/-1;
    font-weight: bold;
    text-align: end;
  }
  .main .model__box-parameters--gray {
    color: #919191;
  }
  .main .model-mobile {
    display: none;
  }
  .main .informations {
    display: block;
  }
  .main .informations .information-first {
    padding: 0 2rem;
    position: relative;
    background-image: url("../img/2.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: #fff;
  }
  .main .informations .information-first__heading {
    position: absolute;
    top: 20%;
    text-transform: uppercase;
    font-size: 4.5rem;
  }
  .main .informations .information-first__p {
    position: absolute;
    top: 30%;
    width: 40%;
    line-height: 2.5rem;
    font-weight: 300;
  }
  .main .informations .information-first__btn {
    margin-top: 2rem;
    padding: 1.8rem 4rem;
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  .main .informations .information-first__btn:hover {
    background-color: #fff;
    color: #000;
  }
  .main .information-phone-first {
    display: none;
  }
  .main .starbase__heading {
    padding: 0rem 3rem;
    top: 50%;
    font-size: 4.5rem;
    color: #fff;
  }
  .main .starbase__p {
    padding: 0rem 3rem;
    top: 59%;
    width: 50%;
  }
  .main .starbase__btn {
    margin: 0rem 3rem;
    padding: 1.8rem 4rem;
    top: 73%;
  }
}
@media (min-width: 1300px) {
  .main .model {
    height: 100vh;
  }
  .main .informations .information-first__p {
    width: 30%;
  }
  .main .informations .information-first__btn {
    margin-top: 0rem;
  }
  .main .starbase__heading {
    padding: 0rem;
  }
  .main .starbase__p {
    padding: 0rem;
    width: 40%;
  }
  .main .starbase__btn {
    margin: 0rem;
  }
  .footer-first__btn {
    padding: 2rem 4rem;
  }
  .footer-first__p {
    padding: 0rem;
    line-height: 0rem;
  }
  .footer-second {
    padding: 0rem;
  }
  .footer-second p {
    width: 10%;
  }
  .footer-second a {
    margin: 2rem;
    width: 80%;
    align-items: start;
    line-height: 0rem;
  }
}/*# sourceMappingURL=style.css.map */